/*
    import google font
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/*
variable css

*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}
:root {
  --first-color: rgb(46, 206, 86);
  --first-color-alt: rgb(82, 181, 107);
  --black-color: black;
  --gray-color: rgb(248, 248, 248);
  --dark-color: rgb(243, 243, 243);
}

:root {
  --body-font: "Open Sans", sans-serif;
  --big-font-size: 3rem;
  --medium-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*
    z-index
*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
  color: black;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--first-color);
}

img {
  max-width: 100%;
  height: auto;
}
i {
  color: black;
}
.section {
  padding: 3rem 0;
}
/* 
.section-title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}
.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: black;
  text-align: center;
  margin-bottom: var(--mb-2);
} */

/*
LAYOUT
*/
.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

/*
HEADER
*/
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--gray-color);
}
/*
NAV
*/

/*MENU DROPDOWN*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background: var(--dark-color);
    transition: 0.5s;
  }
}

.nav-item {
  position: relative;
  margin-bottom: var(--mb-4);
}

.nav-link {
  color: var(--black-color);
  font-weight: var(--font-semi);
  font-weight: bold;

}
.nav-link:hover {
  color: var(--first-color);
}
.nav-dropdown {
  color: var(--black-color);
  font-weight: var(--font-semi);
  font-weight: bold;
}
.nav-dropdown:hover {
  color: var(--first-color);
}
.item-child {
  position: relative;
  background-color: var(--dark-color);
  left: 50px;
  border-radius: 5px;
  top: 1.5rem;
  min-width: 100px;
  display: none;
  z-index: 1;
}

/*
css  class nav-link on menu dropdown

*/
.item-child .nav-link {
  display: block;
  margin-right: 0;
  float: none;
  padding: 10px;
  margin-bottom: 8px;
  color: var(--black-color);
}

/*
css  class nav-item show dropdown with hover

*/
.nav-item:hover .item-child {
  display: block;
}
.nav-user:hover .item-child {
  display: block;
}
.item-child .nav-link:hover {
  color: rgb(46, 206, 86);
}

#nav-item-user {
  display: block;
}
/*
Close dropdown
*/

.logo {
  font-weight: var(--font-bold);
  font-family: "Lobster", cursive;
  font-size: var(--medium-font-size);
}

/*
ICON
*/
.nav-cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-search {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
  cursor: pointer;
}
.nav-user {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
  cursor: pointer;
  display: none;
  position: relative;
}
.icon-add-cart {
  font-size: 1rem;
  color: white;
}
.icon-down {
  font-size: 3rem;
  color: var(--first-color);
}
/*
show slide menu responsive
*/

.show {
  right: 0;
}

.active {
  color: var(--first-color);
}

/*
HOME
*/

.home {
  background-color: var(--gray-color);
}
.container-home {
  height: calc(100vh - var(--header-height));
}
.home-content {
  padding: 2rem;
}
.home-title {
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}
.home-title span {
  font-size: var(--normal-font-size);
}
.home-img {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 350px;
  width: 100%;
}
.product-sale {
  background-color: var(--gray-color);
}
/*BUTTON BUY NOW*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: white;
  padding: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  transition: 0.3s;
  border-radius: 10px;
}
.button:hover {
  background-color: var(--first-color-alt);
}

/*
Overlay search
*/

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: var(--header-height);
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.overlay .closebtn {
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}
.overlay .overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}
.overlay input:focus {
  border-color: rgb(123, 255, 156);
  outline-width: 0;
}
.overlay button {
  float: left;
  width: 20%;
  padding: 11px;
  background: var(--first-color);
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline-width: 0;
}
.overlay i {
  color: white;
}

/*
Media Query Responsive

*/
@media screen and (min-width: 335px) {
  .home-img {
    top: 330px;
    left: 35%;
    width: 60%;
  }
  .container-home .button {
    margin-left: 35px;
  }
  .logo {
    font-size: var(--normal-font-size);
  }
  .cards_item:hover {
    cursor: pointer;
    transform: none;
    -webkit-transform: none;
    transition: 0.5s;
  }
  .card_image img {
    background-size: cover;
    height: 20rem;
    width: 100%;
  }
}
@media screen and (min-width: 370px) {
  .home-img {
    top: 290px;
  }
  .logo {
    font-size: var(--medium-font-size);
  }
}
@media screen and (min-width: 378px) {
  .home-img {
    top: 280px;
    left: 35%;
    width: 60%;
  }
  .container-home .button {
    margin-left: 35px;
  }
}
@media screen and (min-width: 406px) {
  .home-img {
    top: 240px;
    left: 30%;
    width: 70%;
  }
  .container-home .button {
    margin-left: 35px;
  }
}

@media screen and (min-width: 428px) {
  .home-img {
    top: 220px;
  }
}
@media screen and (min-width: 491px) {
  .home-img {
    top: 200px;
  }
}
@media screen and (min-width: 699px) {
  .home-img {
    top: 130px;
    left: 32%;
  }
}
@media screen and (min-width: 769px) {
  .logo {
    font-size: var(--normal-font-size);
  }
  .home-title {
    font-size: var(--big-font-size);
  }
  .nav-toggle {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .nav-item {
    margin-right: var(--mb-4);
    margin-bottom: 0;
  }
  .nav-link {
    font-size: var(--small-font-size);
  }
  .nav-dropdown {
    font-size: var(--small-font-size);
  }
  .home-title {
    font-size: var(--medium-font-size);
  }
  .home-img {
    left: 40%;
    width: 55%;
    top: 100px;
  }
  .overlay .overlay-content {
    width: 50%;
  }
  .item-child {
    position: absolute;
    left: 0;
    background-color: white;
  }
  #nav-item-user {
    display: none;
  }
  .nav-user {
    display: inline;
  }
  .prev,
  .next {
    top: 50%;
  }
  .cards_item:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: 0.5s;
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
}
@media screen and (min-width: 900px) {
  .nav-link {
    font-size: var(--normal-font-size);
  }
  .nav-dropdown {
    font-size: var(--normal-font-size);
  }
  .logo {
    font-size: var(--medium-font-size);
  }
  .card_image img {
    background-size: cover;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    top: 130px;
    left: 30%;
    width: 70%;
  }
  .l-header {
    height: 100px;
  }
  .nav {
    margin-top: var(--mb-3);
  }
  .container-home {
    padding: 50px 150px 100px;
  }
  .home-title {
    font-size: 5rem;
  }
}
/*
CAROUSEL SLIDE SHOW
*/
.container-home {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/*FOOTER*/
footer {
  height: 60px;
  width: 100%;
  position: relative;
  background-color: var(--gray-color);
}
footer center p {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

/*
CARD PRODUCT
*/
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: 400;
  display: block;
  width: 100%;
  outline-width: 0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;

}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  transition: 0.5s;
  padding: 1rem;
  height: 500px;
}

@media (min-width: 30rem) {
  .cards_item {
    width: 50%;
  }
  .cards_item {
    height: auto;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background: var(--first-color);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
.card_image img {
  background-size: cover;
  width: 100%;
  
}
.card_content {
  padding: 1rem;
  background:var(--first-color); 

}
.card_content:hover {
  background: linear-gradient(to right, #0eda1f, rgb(46, 206, 86), #32be8f);
}
.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.title-page {
  text-align: center;
}
